extends layout

append scripts
	script(src='/javascript/apiClient/socket.js')
	script(src='/javascript/timerClient.js')
	script(src='/javascript/viewer/beamer.js')

block content
	div#waiting Bitte warten…

	div#identify ..
	div#flashs
	div#timers
	h1#title
	div#content

	script(type='text/javascript')
		var currentSlideID = null;

		$("#identify").hide();

	script(type='text/javascript')
		var socket = new socket();
		socket.connect(function () {
			$('#waiting').hide();

			socket.registerIdentifyBeamer(function (timeout) {
				$("#identify").show();
				window.setTimeout(function () {
					$("#identify").hide();
				}, timeout * 1000);
			});
			socket.registerBeamer('#{beamerid}', beamerClient);
		});
