extends layout

append scripts
	script(src='/apiClient/index.js')
	script(src='/apiClient/beamer.js')
	script(src='/apiClient/agenda.js')
	script(src='/apiClient/timers.js')
	script(src='/javascript/timerClient.js')
	script(src='/javascript/viewer/beamer.js')

block content
	div#waiting Bitte warten…

	div#identify ..
	div#flashs
	div#timers
	h1#title
	div#content

	script(type='text/javascript')
		var currentSlideID = null;

		$("#identify").hide();

	script(type='text/javascript')
		var apiClient = new APIClient();
		apiClient.connect(function () {
			$('#waiting').hide();

			this.registerIdentifyBeamer();
			this.registerBeamer('#{beamerid}');
		});
		TimerClient(apiClient);
