html
	head
		script(src='/javascript/jquery-1.7.2.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		link(rel='stylesheet',href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet',href='/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet',href='/stylesheets/admin.css')
		script(src='/socket.io/socket.io.js')
		script(src='/javascript/apiClient/beamer.js')
		script(src='/javascript/apiClient/agenda.js')
		script(src='/javascript/apiClient/timers.js')
		script(src='/javascript/apiClient/socket.js')
		script(src='/javascript/admin/navigation.js')
		script(src='/javascript/admin/beamer.js')
		script(src='/javascript/admin/beamer-flash.js')
		script(src='/javascript/admin/agenda.js')
		script(src='/javascript/admin/timers.js')
	body(style="padding-top:90px;")
		div.navbar.navbar-fixed-top
			div.navbar-inner
				div.container
					a.brand Versammlungsleiter
					ul.nav
						li.beamers
							a#nav-beamers(href="#beamers") Beamereinstellungen
						li.agenda
							a#nav-agenda(href="#agenda") Tagesordnung
						li.timers
							a#nav-timers(href="#timers") Timer
					a#new-flash.pull-right.btn.btn-danger.btn Info
					a#identify-beamers.pull-right.btn.btn-info Identifizieren

		div#flash-options.modal
			div.modal-header
				button.close(data-dismiss="modal") ×
				h3 Bekanntmachung erstellen
			form.form-horizontal.modal-body
				textarea#text
				label
					input(type="text",value="30")#timeout.span1
					| Sekunden
				label
					select#type
						option(value="danger") Error or danger
						option(value="information") Information
						option(value="success") Success
				div#select-beamers
			div.modal-footer
				button.btn.btn-primary#save-flash Anzeigen
				button.btn(data-dismiss="modal") Abbrechen

		div#beamers.container
			div#beameroptions.btn-group
				button#new-beamer.btn.btn-success Neu

			table#beamers.table-striped.table-bordered.table-condensed
				tr
					th
					th Beamer
					th Optionen

		div#agenda.container
			div#slideoptions.btn-group
				button#new-slide.btn.btn-success Neu

			table#slides.table-striped.table-bordered.table-condensed
				tr
					th
					th Tagesordnungspunkt
					th(colspan=2) Optionen

			div#options.modal
				div.modal-header
					button.close(data-dismiss="modal") ×
					h3 Tagesordnungspunkt bearbeiten
				form.form-horizontal.modal-body
					input(type="text")#title
				div.modal-footer
					button.btn.btn-primary#save-slide Speichern
					button.btn(data-dismiss="modal") Schließen
					button.btn.btn-danger#delete-slide Löschen

		div#timers.container
			div#timeroptions.btn-group
				button#new-timer.btn.btn-success Neu

			table#timers.table-striped.table-bordered.table-condensed
				tr
					th 
					th Timer
					th Restzeit
					th(colspan=2) Optionen

			div#timer-options.modal
				div.modal-header
					button.close(data-dismatch="modal") ×
					h3 Timer anlegen
				form.form-horizontal.modal-body
					input(type="text")#title
					input(type="text")#color.span2
					input(type="text")#value.span1
				div.modal-footer
					button.btn.btn-primary#save-timer Speichern
					button.btn(data-dismiss="modal") Schließen
					button.btn.btn-danger#delete-timer Löschen

		script(type="text/javascript")
			$(".modal").hide();

		script(type="text/javascript")
			var beamers = {};
			var slides = {};
			var slideLatestChild = {};
			var timers = {};
			var timerCurrent = {};
			var timerTimeout = {};
			var timerLastRun = {};

			var socket = new socket();
			socket.connect(function () {
				socket.registerBeamers({
					init : function (beamerid, beamer) {
						if (! beamers[beamerid]) {
							beamers[beamerid] = beamer;

							for (var slideid in slides) {
								$("#agenda #slide-" + slideid + " .select-beamers").append(generateSelectBeamerSlideButton(beamerid, slideid));
							}
							for (var timerid in timers) {
								$("#timers #timer-" + timerid + " .select-beamers").append(generateSelectBeamerTimerButton(beamerid, timerid));
							}
						}
					},
					update : updateBeamerData,
					flash : function (beamerid, flash) {},
					showTimer : function (beamerid, timerid, timer) {
						$("#timers #timer-" + timerid + " .select-beamer-" + beamerid).addClass("active");
					},
					hideTimer : function (beamerid, timerid, timer) {
						$("#timers #timer-" + timerid + " .select-beamer-" + beamerid).removeClass("active");
					}
				});
				socket.registerAgenda({
					init : function (slideid, slide) {
						if ($("#slide-" + slideid).length < 1) {
							slides[slideid] = slide;

							var insertPosition;
							var indent = "";
							if (slide.parentid) {
								indent = $("#agenda #slide-" + slide.parentid + " .indent").html() + "&nbsp;&nbsp;";
								if (slideLatestChild[slide.parentid]) {
									insertPosition = $("#agenda #slide-" + slideLatestChild[slide.parentid]);
								} else {
									insertPosition = $("#agenda #slide-" + slide.parentid);
								}
								slideLatestChild[slide.parentid] = slideid;
							} else {
								indent = "";
								insertPosition = $("#slides tr");
							}
							var item = $("<tr>").attr("id", "slide-" + slideid);
							var selectMarker = $("<td>");
							selectMarker.append($("<span>").addClass("indent").html(indent));
							selectMarker.append($("<i>").addClass('icon-move'));
							var selectBeamers = $("<td>").addClass("select-beamers");
							for (var beamerid in beamers) {
								selectBeamers.append(generateSelectBeamerSlideButton(beamerid, slideid));
							}
							var options = $("<td>");
							options.append($("<i>").addClass("isdone").addClass("icon-ok-circle").attr("title","Erledigt"));
							options.append($("<i>").addClass("isundone").addClass("icon-ok-circle").attr("title","Erledigt"));
							options.append($("<i>").addClass("isvisible").addClass("icon-eye-open").attr("title","Versteckt"));
							options.append($("<i>").addClass("ishidden").addClass("icon-eye-close").attr("title","Versteckt"));

							item.append(selectMarker);
							item.append($("<td>").addClass("title"));
							item.append(selectBeamers);
							item.append(options);

							insertPosition.after(item);
						}
					},
					update : updateSlideData,
					delete : function (slideid, slide) {
						$("#agenda #slide-" + slideid).remove();
					}
				});
				socket.registerTimers({
					init : function (timerid, timer) {
						if ($("#timer-" + timerid).length < 1) {
							timers[timerid] = timer;

							var selectBeamer = $("<td>");
							for (var beamerid in beamers) {
								selectBeamer.append(generateSelectBeamerTimerButton(beamerid, timerid));
							}

							var item = $("<tr>").attr("id", "timer-" + timerid);
							item.append($("<td>").append($("<img>").addClass('color')));
							item.append($("<td>").addClass("title"));
							item.append($("<td>").append($("<span>").addClass("current")).append(" / ").append($("<span>").addClass("value")));
							item.append(selectBeamer);
							item.append($("<td>")
								.append($("<i>").addClass("start").addClass("icon-play"))
								.append($("<i>").addClass("pause").addClass("icon-pause"))
								.append($("<i>").addClass("stop").addClass("icon-stop")));

							$("#timers #timers").append(item);
						}				
					},
					update : updateTimerData,
					delete : function (timerid, timer) {}
				});
			});
