html
	head
		script(src='/javascript/jquery-1.7.2.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		link(rel='stylesheet',href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet',href='/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet',href='/stylesheets/admin.css')
		script(src='/socket.io/socket.io.js')
	body(style="padding-top:90px;")
		div.navbar.navbar-fixed-top
			div.navbar-inner
				div.container
					a.brand Versammlungsleiter
					ul.nav
						li.agenda.active
							a#nav-agenda(href="#agenda") Tagesordnung
						li.timers
							a#nav-timers(href="#timers") Timer
					div.pull-right.nav
						a#new-flash.btn.btn-danger.btn Info

		script(type="text/javascript")
			$("#nav-agenda").click(function() {
				$(".navbar .nav li").removeClass("active");
				$(".navbar .nav .agenda").addClass("active");
				$("body>.container").hide();
				$("body>#agenda").show();
			});
			$("#nav-timers").click(function() {
				$(".navbar .nav li").removeClass("active");
				$(".navbar .nav .timers").addClass("active");
				$("body>.container").hide();
				$("body>#timers").show();
			});

		div#flash-options.modal
			div.modal-header
				button.close(data-dismiss="modal") ×
				h3 Bekanntmachung erstellen
			form.form-horizontal.modal-body
				textarea#text
				label
					input(type="text",value="30")#timeout.span1
					| Sekunden
				label
					select#type
						option(value="danger") Error or danger
						option(value="information") Information
						option(value="success") Success
				div#select-beamers
			div.modal-footer
				button.btn.btn-primary#save-flash Anzeigen
				button.btn(data-dismiss="modal") Abbrechen

		div#agenda.container
			div#slideoptions.btn-group
				button#new-slide.btn.btn-success Neu

			table#slides.table-striped.table-bordered.table-condensed
				tr
					th
					th Tagesordnungspunkt
					th(colspan=2) Optionen

			div#options.modal
				div.modal-header
					button.close(data-dismiss="modal") ×
					h3 Tagesordnungspunkt bearbeiten
				form.form-horizontal.modal-body
					input(type="text")#title
				div.modal-footer
					button.btn.btn-primary#save-slide Speichern
					button.btn(data-dismiss="modal") Schließen
					button.btn.btn-danger#delete-slide Löschen

		div#timers.container
			div#timeroptions.btn-group
				button#new-timer.btn.btn-success Neu

			table#timers.table-striped.table-bordered.table-condensed
				tr
					th Timer
					th Restzeit
					th Optionen

			div#timer-options.modal
				div.modal-header
					button.close(data-dismatch="modal") ×
					h3 Timer anlegen
				form.form-horizontal.modal-body
					input(type="text")#title
					input(type="text")#color
					input(type="text")#value.span1
				div.modal-footer
					button.btn.btn-primary#save-timer Speichern
					button.btn(data-dismiss="modal") Schließen
					button.btn.btn-danger#delete-timer Löschen

		script(type="text/javascript")
			$(".navbar .nav li").removeClass("active");
			$("body>.container").hide();
			if (location.hash == "#timers") {
				$(".navbar .nav .timers").addClass("active");
				$("body>#timers").show();
			} else {
				$(".navbar .nav .agenda").addClass("active");
				$("body>#agenda").show();
			}

			$(".modal").hide();

			$("#new-slide").click(function () {
				showSlideOptions(null, {});
			});

			$("#new-timer").click(function () {
				showTimerOptions(null, {});
			});

			$("#new-flash").click(function () {
				$("#flash-options #select-beamers").empty();
				for (var beamerid in beamers) {
					var beamerSelect = $("<label>").append($("<input>").attr("type", "checkbox").val(beamerid).attr("checked", "checked")).append(beamerid);
					$("#flash-options #select-beamers").append(beamerSelect);
				}

				$("#flash-options #save-flash").unbind("click");
				$("#flash-options #save-flash").click(function () {
					var flash = { text : $("#flash-options #text").val(), type : $("#flash-options #type option:selected").val(), timeout : $("#flash-options #timeout").val() };
					$("#flash-options #select-beamers input").each(function (n, beamerCheckbox) {
						$.ajax({
							type: 'POST',
							url: '/beamer/' + $(beamerCheckbox).val() + '/flash',
							data: { flash: flash },
							success: function() {
								$("#flash-options").modal('hide');
							}
						});
					});
				});

				$("#flash-options").modal();
			});

			function showSlideOptions(slideid, slide) {
				if (slideid == null) {
					slideid = Math.random().toString(36).replace(/[^a-zA-Z0-9]/,'').substring(0,7);
					slide.hidden = true;
					slide.isdone = false;
					$("#agenda #options #delete-slide").hide();
				} else {
					$("#agenda #options #delete-slide").show();
				}

				$("#agenda #options input#title").val(slide.title);

				$("#agenda #options #save-slide").unbind("click");
				$("#agenda #options #save-slide").click(function() {
					slide.title = $("#agenda #options #title").val();
					saveSlide(slideid, slide, function() {
						$("#agenda #options").modal('hide')
					});
				});
				$("#agenda #options #delete-slide").unbind("click");
				$("#agenda #options #delete-slide").click(function() {
					$.ajax({
						type: 'POST',
						url: '/agenda/' + slideid + '/delete',
						success: function() {
							$("#agenda #options").modal('hide');
						}
					});
				});

				$("#agenda #options").modal();
			}

			function saveSlide(slideid, slide, callbackSuccess) {
				$.ajax({
					type: 'PUT',
					url: '/agenda/' + slideid + '/save',
					data: { slide : slide },
					success: callbackSuccess
				});
			}

			function updateSlideData(slideid, slide) {
				$("#agenda #slide-" + slideid + " .title").text(slide.title);

				$("#agenda #slide-" + slideid + " .isdone").unbind("click");
				$("#agenda #slide-" + slideid + " .isdone").toggleClass("checked", slide.isdone == "true").click(function () {
					slide.isdone = ! $(this).hasClass("checked");
					saveSlide(slideid, slide);
				});

				$("#agenda #slide-" + slideid + " .ishidden").unbind("click");
				$("#agenda #slide-" + slideid + " .ishidden").toggleClass("checked", slide.hidden == "true").click(function () {
					slide.hidden = ! $(this).hasClass("checked");
					saveSlide(slideid, slide);
				});

				$("#agenda #slide-" + slideid + " .title").unbind("click");
				$("#agenda #slide-" + slideid + " .title").click(function() {
					showSlideOptions(slideid, slide);
				});
			}

			function showTimerOptions(timerid, timer) {
				
				$("#timers #timer-options").modal();
			}

			function updateBeamerData(beamerid, beamer) {
				$("#agenda .select-beamer-" + beamerid).css("background-color", beamer.color);
				$("#agenda .select-beamer-" + beamerid).removeClass("active");
				$("#agenda #slide-" + beamer.currentslideid + " .select-beamer-" + beamerid).addClass("active");
			}

			function saveBeamer(beamerid, beamer, callbackSuccess) {
				$.ajax({
					type: 'PUT',
					url: '/beamer/' + beamerid + "/save",
					data: { beamer : beamer },
					success: callbackSuccess
				});
			}

			function generateSelectBeamerButton(beamerid, slideid) {
				return $("<img>").addClass("select-beamer").addClass("select-beamer-" + beamerid).css("background-color", beamers[beamerid].color).attr("title","Beamer: " + beamerid).click(function () {
					beamers[beamerid].currentslideid = slideid;
					saveBeamer(beamerid, beamers[beamerid]);
				});
			}

		script(type="text/javascript")
			var beamers = {};
			var slides = {};
			var slideLatestChild = {};

			var socket = io.connect();
			socket.on('connect', function() {
				socket.emit('registeragenda', {});
				socket.emit('registertimers', {});
			});

			socket.on('beamer-add', function (data) {
				socket.on('beamer-change:' + data.beamerid, function (changeData) {
					updateBeamerData(data.beamerid, changeData.beamer);
				});
				socket.emit('registerbeamer', { beamerid : data.beamerid });
				if (! beamers[data.beamerid]) {
					beamers[data.beamerid] = data.beamer;

					for (var slideid in slides) {
						$("#agenda #slide-" + slideid + " .select-beamers").append(generateSelectBeamerButton(data.beamerid, slideid));
					}
				}
				updateBeamerData(data.beamerid, data.beamer);
			});

			socket.on('slide-add', function (data) {
				socket.on('slide-change:' + data.slideid, function (changeData) {
					updateSlideData(data.slideid, changeData.slide);
				});
				if ($("#slide" + data.slideid).length < 1) {
					slides[data.slideid] = data.slide;

					var insertPosition;
					var indent = "";
					if (data.slide.parentid) {
						indent = $("#agenda #slide-" + data.slide.parentid + " .indent").html() + "&nbsp;&nbsp;";
						if (slideLatestChild[data.slide.parentid]) {
							insertPosition = $("#agenda #slide-" + slideLatestChild[data.slide.parentid]);
						} else {
							insertPosition = $("#agenda #slide-" + data.slide.parentid);
						}
						slideLatestChild[data.slide.parentid] = data.slideid;
					} else {
						indent = "";
						insertPosition = $("#slides tr");
					}
					var item = $("<tr>").attr("id", "slide-" + data.slideid);
					var selectMarker = $("<td>");
					selectMarker.append($("<span>").addClass("indent").html(indent));
					selectMarker.append($("<img>").attr("src","/images/move-marker.png"));
					var selectBeamers = $("<td>").addClass("select-beamers");
					for (var beamerid in beamers) {
						selectBeamers.append(generateSelectBeamerButton(beamerid, data.slideid));
					}
					var options = $("<td>");
					options.append($("<img>").addClass("isdone").attr("title","Erledigt"));
					options.append($("<img>").addClass("ishidden").attr("title","Versteckt"));

					item.append(selectMarker);
					item.append($("<td>").addClass("title"));
					item.append(selectBeamers);
					item.append(options);

					insertPosition.after(item);
				}
				updateSlideData(data.slideid, data.slide);
			});

			socket.on('slide-delete', function(data) {
				$("#agenda #slide-" + data.slideid).remove();
			});

			socket.on('slide-move', function(data) {
				
			});
