// vim:noet:ts=4:sw=4:

section#projectors.container
	div.btn-toolbar
		div.btn-group
		button#new-projector.btn.btn-success Neu
	table.table-striped.table-bordered.table-condensed
		thead
			tr
				th
				th Beamer
				th(colspan=2) Optionen
		tbody(data-bind="foreach: projectors")
			tr
				td: img.color(data-bind="style: { 'background-color': color() }", src="/img/empty.gif")
				td(data-bind="text: name()")
				td.handover-buttons
				td.options
					i.icon-eye-open(data-bind="visible: !isVisible(), click: show", title="Auf Startseite anzeigen")
					i.icon-eye-close(data-bind="visible: isVisible(), click: hide", title="Auf Startseite verstecken")
					i.icon-star-empty(title="Als Standard setzen")
						span.viewer-controls
					a(data-bind="attr: { href: '/projector/#!' + id }")
						i.icon-play-circle(title="Beamer öffnen")

div#projector-options.modal
	div.modal-header
		button.close(data-dismiss="modal") ×
		h3 Beamer bearbeiten
	form.form-horizontal.modal-body
		.control-group
			label.control-label Name
			.controls
				input(type="text",name="name")
		.control-group
			label.control-label Farbe
			.controls
				input(type="hidden",name="color")
	div.modal-footer
		button.btn.btn-danger.pull-left.delete#delete-projector Löschen
		button.btn(data-dismiss="modal") Schließen
		button.btn.btn-primary.save#save-projector Speichern

