//- vim:noet:ts=4:sw=4:tw=0

script(type="text/html",id="projector-button")
	img.color.projector-button(src="/img/empty.gif", data-bind="style: { 'background-color': projector.color() }, attr: { title: prefix + projector.name() }")

script(type="text/html",id="projector-buttons")
	//	ko foreach: list
	//		ko template: { name: 'projector-button', data: { projector: $data, prefix: $parent.prefix } }
	//		/ko
	//	/ko

section#projectors.container
	div.btn-toolbar
		div.btn-group
		button#new-projector.btn.btn-success Neu
	table.table-striped.table-bordered.table-condensed
		thead
			tr
				th
				th Beamer
				th(colspan=2) Optionen
		tbody(data-bind="foreach: list")
			tr
				td(data-bind="template: { name: 'projector-button', data: { projector: $data, prefix: '' } }")
				td.click-to-edit(data-bind="text: name(), attr: { 'data-id': id }")
				td.handover-buttons(data-bind="template: { name: 'projector-buttons', data: { list: $parent.list, prefix: 'Übernehmen von '} }")
				td.options
					i.cmd.icon-eye-open(title="Auf Startseite anzeigen",
						data-bind="visible: !isVisible(), click: show")
					i.cmd.icon-eye-close(title="Auf Startseite verstecken",
						data-bind="visible: isVisible(), click: hide")
					i.cmd(title="Als Standard setzen", data-bind="css: { 'icon-star': isDefault(), 'icon-star-empty': !isDefault() }, click: setDefault")
					span.viewer-controls
					a(data-bind="attr: { href: '/projector/#!' + id }")
						i.icon-play-circle(title="Beamer öffnen")

div#projector-options.modal
	div.modal-header
		button.close(data-dismiss="modal") ×
		h3 Beamer bearbeiten
	form.form-horizontal.modal-body(data-bind="submit: save")
		.control-group
			label.control-label Name
			.controls
				input(type="text",name="name",data-bind="value: name")
		.control-group
			label.control-label Farbe
			.controls
				input(type="hidden",name="color",data-bind="value: color, miniColors: {}")
	div.modal-footer
		button.btn.btn-danger.pull-left(data-bind="visible: id(), click: remove") Löschen
		button.btn(data-dismiss="modal") Schließen
		button.btn.btn-primary(data-bind="click: save") Speichern
