@import "../libs/bootstrap/css/bootstrap.min.css";
@import "../libs/bootstrap/css/bootstrap-responsive.min.css";
@import "../libs/jquery-miniColors/jquery.miniColors.css";

.select-projector, #timers .color, #projectors .color, #elections .color {
	border:1px solid #777777; margin:1px; width:13px; height:13px;
}

#timers .color {
	border-radius: 4px
}

.click-to-edit:hover {
	text-decoration: underline
}

i.cmd, .click-to-edit {
	cursor: pointer;
}

.untitled { color: silver }
.untitled:before { content: "‹" }
.untitled:after { content: "›" }

.select-projector
	{ opacity: 0.5; border-style: dashed }
.select-projector.active
	{ opacity: 1; border-style: solid }
.select-projector.disabled
	{ visibility: hidden }

.set-default.icon-star-empty
	{opacity:0.5;}
.set-default.icon-star
	{opacity:1;}

.isundone.icon-ok-circle
	{opacity:0.5;}

ol.ui-sortable, ol.ui-sortable ol
	{list-style:none; margin-left:15px;}
ol.ui-sortable div:hover
	{background-color:#eeeeee;}
