!!!
html
	head
		link(rel='stylesheet',href='/jquery-miniColors/jquery.miniColors.css')
		link(rel='stylesheet',href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet',href='/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet',href='/stylesheets/admin.css')
		script(src='/javascript/jquery-1.7.2.min.js')
		script(src='/javascript/jquery-ui-1.8.21.custom.min.js')
		script(src='/javascript/jquery.mjs.nestedSortable.js')
		script(src='/jquery-miniColors/jquery.miniColors.min.js')
		script(src='/jquery-cookie/jquery.cookie.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/javascript/timerClient.js')
		script(src='/apiClient/index.js')
		script(src='/apiClient/beamer.js')
		script(src='/apiClient/agenda.js')
		script(src='/apiClient/timers.js')
		script(src='/javascript/admin/navigation.js')
		script(src='/javascript/admin/beamer.js')
		script(src='/javascript/admin/beamer-flash.js')
		script(src='/javascript/admin/agenda.js')
		script(src='/javascript/admin/timers.js')
	body(style="padding-top:90px;")
		div.navbar.navbar-fixed-top
			div.navbar-inner
				div.container
					a.brand Versammlungsleiter
					ul.nav
						li.beamers
							a#nav-beamers(href="#beamers") Beamereinstellungen
						li.agenda
							a#nav-agenda(href="#agenda") Tagesordnung
						li.timers
							a#nav-timers(href="#timers") Timer
					a#new-flash.pull-right.btn.btn-danger.btn Info
					a#identify-beamers.pull-right.btn.btn-info Identifizieren
					div#showbeamer.btn-group.pull-right
						a.btn.dropdown-toggle(data-toggle="dropdown") Beamer
							span.caret
						ul.dropdown-menu
							li#showbeamers
								a
									img.select-beamer
									|  Alle zeigen
							li.divider

		div#flash-options.modal
			div.modal-header
				button.close(data-dismiss="modal") ×
				h3 Bekanntmachung erstellen
			form.form-horizontal.modal-body
				textarea#text
				label
					input(type="text",value="30")#timeout.span1
					| Sekunden
				label
					select#type
						option(value="danger") Error or danger
						option(value="information") Information
						option(value="success") Success
				div#select-beamers
			div.modal-footer
				button.btn.btn-primary#save-flash Anzeigen
				button.btn(data-dismiss="modal") Abbrechen

		div#beamers.container
			div#beameroptions.btn-group
				button#new-beamer.btn.btn-success Neu

			table#beamers.table-striped.table-bordered.table-condensed
				tr
					th
					th Beamer
					th(colspan=2) Optionen

			div#beamer-options.modal
				div.modal-header
					button.close(data-dismiss="modal") ×
					h3 Beamer bearbeiten
				form.form-horizontal.modal-body
					input(type="text")#title
					input(type="hidden")#color
				div.modal-footer
					button.btn.btn-danger.pull-left#delete-beamer Löschen
					button.btn(data-dismiss="modal") Schließen
					button.btn.btn-primary#save-beamer Speichern

		div#agenda.container
			div#slideoptions.btn-group
				button#new-slide.btn.btn-success Neu

			ol#slides

			div#options.modal
				div.modal-header
					button.close(data-dismiss="modal") ×
					h3 Tagesordnungspunkt bearbeiten
				div.modal-body
					input(type="text")#title
					div#slidecontent
						ul.nav.nav-tabs
							li
								a(data-toggle="tab",href="#slidecontent-agenda").slidecontent-agenda Agenda
							li
								a(data-toggle="tab",href="#slidecontent-text").slidecontent-text Text
							li
								a(data-toggle="tab",href="#slidecontent-html").slidecontent-html HTML
						div.tab-content
							div.tab-pane#slidecontent-agenda
								| Nothing to show here
							div.tab-pane#slidecontent-text
								textarea#slidecontent-text-text
							div.tab-pane#slidecontent-html
								textarea#slidecontent-html-html
				div.modal-footer
					button.btn.btn-danger.pull-left#delete-slide Löschen
					button.btn(data-dismiss="modal") Schließen
					button.btn.btn-primary#save-slide Speichern

		div#timers.container
			div#timeroptions.btn-group
				button#new-timer.btn.btn-success Neu

			table#timers.table-striped.table-bordered.table-condensed
				tr
					th 
					th Timer
					th Restzeit
					th(colspan=2) Optionen

			div#timer-options.modal
				div.modal-header
					button.close(data-dismatch="modal") ×
					h3 Timer anlegen
				form.form-horizontal.modal-body
					input(type="text")#title
					input(type="hidden")#color
					input(type="text")#value.span1
				div.modal-footer
					button.btn.btn-danger.pull-left#delete-timer Löschen
					button.btn(data-dismiss="modal") Schließen
					button.btn.btn-primary#save-timer Speichern

		script(type="text/javascript")
			$(".modal").hide();

		script(type="text/javascript")
			var apiClient = new APIClient();
			apiClient.connect(function () {
				this.registerBeamers();
				this.registerAgenda();
				this.registerTimers();
			});
			TimerClient(apiClient);
