//- vim:noet:ts=4:sw=4:
doctype 5
html
	head
		script(src='/min/libs.js')
		script(src='/socket.io/socket.io.js')
		script(src='/min/admin.js')
		link(rel='stylesheet',href='/style/admin.css')
		title Versammlungsleiter
	body
		div.navbar.navbar-fixed-top
			div.navbar-inner
				div.container
					a.brand Versammlungsleiter
					ul.nav
						li: a(href="#projectors") Beamereinstellungen
						li: a(href="#agenda") Tagesordnung
						li: a(href="#timers") Timer
						li: a(href="#motions") Anträge
						li: a(href="#pollsites") Wahllokale
						li: a(href="#elections") Wahlen
					a#new-flash.pull-right.btn.btn-danger.btn Info
					a#identify-projectors.pull-right.btn.btn-info Identifizieren
					div#showprojector.btn-group.pull-right
						a.btn.dropdown-toggle(data-toggle="dropdown") Beamer
							span.caret
						ul.dropdown-menu
							li#showprojectors
								a
									img.select-projector(src="/img/empty.gif")
									| Alle zeigen
							li.divider

		div.visible-desktop(style="width:100%;height:90px;")

		include admin/projectors.jade
