!!!
html
	head
		link(rel='stylesheet',href='/jquery-miniColors/jquery.miniColors.css')
		link(rel='stylesheet',href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet',href='/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet',href='/stylesheets/admin.css')
		script(src='/javascript/jquery-1.7.2.min.js')
		script(src='/javascript/jquery-ui-1.8.21.custom.min.js')
		script(src='/javascript/jquery.mjs.nestedSortable.js')
		script(src='/jquery-miniColors/jquery.miniColors.min.js')
		script(src='/jquery-cookie/jquery.cookie.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/javascript/timerClient.js')
		script(src='/apiClient/index.js')
		script(src='/apiClient/projectors.js')
		script(src='/apiClient/agenda.js')
		script(src='/apiClient/timers.js')
		script(src='/apiClient/motionclasses.js')
		script(src='/apiClient/motions.js')
		script(src='/apiClient/pollsites.js')
		script(src='/apiClient/elections.js')
		script(src='/apiClient/ballots.js')
		script(src='/apiClient/options.js')
		script(src='/javascript/admin/treeTable.js')
		script(src='/javascript/admin/selectProjector.js')
		script(src='/javascript/admin/index.js')
		script(src='/javascript/admin/navigation.js')
		script(src='/javascript/admin/projectors.js')
		script(src='/javascript/admin/flashmessages.js')
		script(src='/javascript/admin/agenda.js')
		script(src='/javascript/admin/timers.js')
		script(src='/javascript/admin/motions.js')
		script(src='/javascript/admin/pollsites.js')
		script(src='/javascript/admin/elections.js')
		script(src='/javascript/admin/ballots.js')
		title Versammlungsleiter
	body
		div.navbar.navbar-fixed-top
			div.navbar-inner
				div.container
					a.brand Versammlungsleiter
					ul.nav
						li.projectors
							a#nav-projectors(href="#projectors") Beamereinstellungen
						li.agenda
							a#nav-agenda(href="#agenda") Tagesordnung
						li.timers
							a#nav-timers(href="#timers") Timer
						li.motions
							a#nav-motions(href="#motions") Anträge
						li.pollsites
							a#nav-pollsites(href="#pollsites") Wahllokale
						li.elections
							a#nav-elections(href="#elections") Wahlen
					a#new-flash.pull-right.btn.btn-danger.btn Info
					a#identify-projectors.pull-right.btn.btn-info Identifizieren
					div#showprojector.btn-group.pull-right
						a.btn.dropdown-toggle(data-toggle="dropdown") Beamer
							span.caret
						ul.dropdown-menu
							li#showprojectors
								a
									img.select-projector(src="/images/empty.gif")
									|  Alle zeigen
							li.divider

		div.visible-desktop(style="width:100%;height:90px;")

		div#ballot-list.modal
			div.modal-header
				button.btn.btn-success.pull-right#new-ballot Wahlgang anlegen
				h3 Wahlgänge
			div.modal-body#ballot-list
			div.modal-footer
				button.btn(data-dismiss="modal") Schließen

		div#flash-options.modal
			div.modal-header
				button.close(data-dismiss="modal") ×
				h3 Bekanntmachung erstellen
			form.form-horizontal.modal-body
				.control-group
					label.control-label Text
					.controls
						textarea#text
				.control-group
					label.control-label Anzeigezeit
					.controls
						input(type="text",value="0:30")#timeout.span1
				.control-group
					label.control-label Typ
					.controls
						select#type
							option(value="danger") Error or danger
							option(value="information") Information
							option(value="success") Success
				.control-group
					label.control-label Beamer
					.controls#select-projectors
			div.modal-footer
				button.btn.btn-primary.save#save-flash Anzeigen
				button.btn(data-dismiss="modal") Abbrechen

		div#projectors.container
			div#projectoroptions.btn-toolbar
				div.btn-group
					button#new-projector.btn.btn-success Neu

			table#projectors.table-striped.table-bordered.table-condensed
				tr
					th
					th Beamer
					th(colspan=2) Optionen

			div#projector-options.modal
				div.modal-header
					button.close(data-dismiss="modal") ×
					h3 Beamer bearbeiten
				form.form-horizontal.modal-body
					.control-group
						label.control-label Name
						.controls
							input(type="text")#title
					.control-group
						label.control-label Farbe
						.controls
							input(type="hidden")#color
				div.modal-footer
					button.btn.btn-danger.pull-left.delete#delete-projector Löschen
					button.btn(data-dismiss="modal") Schließen
					button.btn.btn-primary.save#save-projector Speichern

		div#agenda.container
			div#slideoptions.btn-toolbar
				div.btn-group
					button#new-slide.btn.btn-success Neu

			ol#slides

			div#options.modal
				div.modal-header
					button.close(data-dismiss="modal") ×
					h3 Tagesordnungspunkt bearbeiten
				form.form-horizontal.modal-body
					.control-group
						.control-label Name
						.controls
							input(type="text")#title
					div#slidecontent
						ul.nav.nav-tabs
							li
								a(data-toggle="tab",href="#slidecontent-text").slidecontent-text Text
							li
								a(data-toggle="tab",href="#slidecontent-html").slidecontent-html HTML
							li
								a(data-toggle="tab",href="#slidecontent-motion").slidecontent-motion Antrag
							li
								a(data-toggle="tab",href="#slidecontent-election").slidecontent-election Wahl
							li
								a(data-toggle="tab",href="#slidecontent-ballot").slidecontent-ballot Wahlgang
							li
								a(data-toggle="tab",href="#slidecontent-agenda").slidecontent-agenda Agenda
						div.tab-content
							div.tab-pane#slidecontent-text
								textarea#slidecontent-text-text
							div.tab-pane#slidecontent-html
								textarea#slidecontent-html-html
							div.tab-pane#slidecontent-motion
								select#slidecontent-motion-motionid
							div.tab-pane#slidecontent-election
								select#slidecontent-election-electionid
							div.tab-pane#slidecontent-ballot
								input(type="text")#slidecontent-ballot-ballotid
							div.tab-pane#slidecontent-agenda
								| Die Folie zeigt die komplette Tagesordnung.
				div.modal-footer
					button.btn.btn-danger.pull-left.delete#delete-slide Löschen
					button.btn(data-dismiss="modal") Schließen
					button.btn.btn-primary.save#save-slide Speichern

		div#timers.container
			div#timeroptions.btn-toolbar
				div.btn-group
					button#new-timer.btn.btn-success Neu

			table#timers.table-striped.table-bordered.table-condensed
				tr
					th 
					th Timer
					th Restzeit
					th(colspan=2) Optionen

			div#timer-options.modal
				div.modal-header
					button.close(data-dismiss="modal") ×
					h3 Timer anlegen
				form.form-horizontal.modal-body
					.control-group
						label.control-label Name
						.controls
							input(type="text")#title
					.control-group
						label.control-label Farbe
						.controls
							input(type="hidden")#color
					.control-group
						label.control-label Zeit
						.controls
							input(type="text")#value.span1
				div.modal-footer
					button.btn.btn-danger.pull-left.delete#delete-timer Löschen
					button.btn(data-dismiss="modal") Schließen
					button.btn.btn-primary.save#save-timer Speichern

		div#motions.container
			div#motionoptions.btn-toolbar
				div.btn-group
					a.btn.btn-success.dropdown-toggle(data-toggle="dropdown")
						Neuer Antrag
						span.caret
					ul.dropdown-menu.new-motion-classes
				div.btn-group
					button#new-motionclass.btn.btn-success Neue Kategorie

			ol#motions

			div#motion-options.modal
				div.modal-header
					button.close(data-dismiss="modal") ×
					h3 Antrag anlegen
				form.form-horizontal.modal-body
					.control-group
						label.control-label Antragsnummer
						.controls
							input(type="text")#motionid.span1
					.control-group
						label.control-label Titel
						.controls
							input(type="text")#title.span3
					.control-group
						label.control-label Antragsteller
						.controls
							input(type="text")#submitter.span2
					.control-group
						label.control-label Zustand
						.controls
							select#status
								option(value="open")		Offen
								option(value="accepted")	Angenommen
								option(value="rejected")	Abgelehnt
								option(value="withdrawn")	Zurückgezogen
								option(value="suspended")	Vertagt
					.control-group
						label.control-label Antrag
						.controls
							textarea#text
					.control-group
						label.control-label Begründung
						.controls
							textarea#argumentation
				div.modal-footer
					button.btn.btn-danger.pull-left.delete#delete-motion Löschen
					button.btn(data-dismiss="modal") Schließen
					button.btn.btn-primary.save#save-motion Speichern

			div#motionclass-options.modal
				div.modal-header
					button.close(data-dismiss="modal") ×
					h3 Antragskategorie anlegen
				form.form-horizontal.modal-body
					.control-group
						label.control-label Name
						.controls
							input(type="text")#title
				div.modal-footer
					button.btn.btn-danger.pull-left.delete#delete-motionclass Löschen
					button.btn(data-dismiss="modal") Schließen
					button.btn.btn-primary.save#save-motionclass Speichern

		div#pollsites.container
			div#pollsiteoptions.btn-toolbar
				div.btn-group
					button#new-pollsite.btn.btn-success Neu

			table#pollsites.table-striped.table-bordered.table-condensed
				tr
					th Wahlbüro

			div#pollsite-options.modal
				div.modal-header
					button.close(data-dismiss="modal") ×
					h3 Wahlbüro anlegen
				form.form-horizontal.modal-body
					.control-group
						label.control-label Name
						.controls
							input(type="text")#pollsiteid
					.control-group
						label.control-label Passwort
						.controls
							input(type="password")#password
					.control-group
						label.control-label Max. Stimmen
						.controls
							input(type="text").span1#maxvotes
				div.modal-footer
					button.btn.btn-danger.pull-left.delete#delete-pollsite Löschen
					button.btn(data-dismiss="modal") Schließen
					button.btn.btn-primary.save#save-pollsite Speichern

		div#elections.container
			div#electionoptions.btn-toolbar
				div.btn-group
					button#new-election.btn.btn-success Neu

			table#elections.table-striped.table-bordered.table-condensed
				tr
					th Wahlen
					th Optionen

			div#election-options.modal
				div.modal-header
					button.close(data-dismiss="modal") ×
					h3 Wahlgang anlegen
				form.form-horizontal.modal-body
					.control-group
						label.control-label Name
						.controls
							input(type="text")#title
				div.modal-footer
					button.btn.btn-danger.pull-left.delete Löschen
					button.btn(data-dismiss="modal") Schließen
					button.btn.btn-primary.save Speichern

		script(type="text/javascript")
			var apiClient = new APIClient();
			TimerClient(apiClient);
			apiClient.registerDefaultProjector();
			apiClient.registerProjectors();
			apiClient.registerAgenda();
			apiClient.registerTimers();
			apiClient.registerMotionClasses();
			apiClient.registerPollsites();
			apiClient.registerElections();
