//- vim:noet:sw=8:

!!!
html
	head
		script(src='/socket.io/socket.io.js')
		script(src='/min/postVotes.js')
		title Wahltool
	body
		form
			p
				| Wahlbüro: 
				select#pollsite
			p
				input#select-elections(type="radio", name="select-type", value="election")
				| Wahl 
				select#election(disabled="disabled")
				select#election-ballot.select-ballot(disabled="disabled")
			p
				input#select-motions(type="radio", name="select-type", value="motion")
				| Antrag 
				select#motion(disabled="disabled")
				select#motion-ballot.select-ballot(disabled="disabled")
			p
				table
					thead
						tr
							th Option
							th Ergebnis
					tbody#options
			p
				button(type="submit") Absenden
