!!!
html
	head
		title Veranstaltungsleiter
		link(rel='stylesheet', href='/min/showProjector.css')
		script(src='/min/showProjector.js')
		script(src='/socket.io/socket.io.js')

	body
		div#error
			.message
			.notes
		div#waiting
		div#identify

		div#header
		div#options
			div#options-button(title="Optionen")
		div#projector-controls
			div#projector-reset(title="Ansicht zurücksetzen")
			div#projector-zoom-in(title="Schrift vergrößern")
			div#projector-zoom-out(title="Schrift verkleinern")
			div#projector-scroll-up(title="Hinaufscrollen")
			div#projector-scroll-down(title="Hinabscrollen")
		div#currentTime
		div#flashs
		div#timers
		div#content
			h1#title
			div.content-text
			div.content-html
			ol.content-agenda
			div.sidebar
				div.sidebar-header.content-motion.motionid
				div.content-motion.motion-status
					| Status
					.status-open Offen
					.status-accepted Angenommen
					.status-rejected Abgelehnt
					.status-withdrawn Zurückgezogen
					.status-suspended Vertagt
				div.content-motion
					| Antragsteller
					.motion-submitter
				div.content-ballot
					| Stimmen
					.ballot-maxvotes
				div.content-ballot.ballot-status
					| Status
					.status-preparing In Vorbereitung
					.status-voting Im Wahlvorgang
					.status-counting Auszählen
					.status-done Ausgewertet
			div.content-motion.motion-text
			div.content-motion.motion-argumentation
			ol.ballot-options.content-ballot

		script(type="text/javascript")
			var apiClient = new APIClient();
			TimerClient(apiClient);
