!!!
html
	head
		title Veranstaltungsleiter
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascript/jquery-1.7.2.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/apiClient/index.js')
		script(src='/apiClient/projectors.js')
		script(src='/apiClient/agenda.js')
		script(src='/apiClient/timers.js')
		script(src='/apiClient/motionclasses.js')
		script(src='/apiClient/motions.js')
		script(src='/javascript/timerClient.js')
		script(src='/javascript/viewer/projectors.js')

	body
		div#error
			.message
			.notes
		div#waiting
		div#identify

		div#header
		div#projector-controls
			div#projector-reset(title="Ansicht zurücksetzen")
			div#projector-zoom-in(title="Schrift vergrößern")
			div#projector-zoom-out(title="Schrift verkleinern")
			div#projector-scroll-up(title="Hinaufscrollen")
			div#projector-scroll-down(title="Hinabscrollen")
		div#currentTime
		div#flashs
		div#timers
		div#content
			h1#title
			div.content-text
			div.content-html
			ol.content-agenda
			div.sidebar
				div.sidebar-header.content-motion.motionid
				div.content-motion.motion-status
					| Status
					.status-open Offen
					.status-accepted Angenommen
					.status-rejected Abgelehnt
					.status-withdrawn Zurückgezogen
					.status-suspended Vertagt
				div.content-motion
					| Antragsteller
					.motion-submitter
			div.content-motion.motion-text
			div.content-motion.motion-argumentation

		script(type="text/javascript")
			var currentSlideID = null;
			$("#identify").hide();

		script(type="text/javascript")
			var apiClient = new APIClient();
			TimerClient(apiClient);

		- if (typeof projectorid != 'undefined')
			script(type="text/javascript")
				configureProjector('#{projectorid}');
				$("#projector-controls").hide();
		- else if (typeof slideid != 'undefined')
			script(type="text/javascript")
				configureSlide('#{slideid}');
				$("#projector-controls").show();
		- else if (typeof motionid != 'undefined')
			script(type="text/javascript")
				configureMotion('#{motionid}');
				$("#projector-controls").show();
