!!!
html
	head
		title Veranstaltungsleiter
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascript/jquery-1.7.2.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/apiClient/index.js')
		script(src='/apiClient/beamer.js')
		script(src='/apiClient/agenda.js')
		script(src='/apiClient/timers.js')
		script(src='/javascript/timerClient.js')
		script(src='/javascript/viewer/beamer.js')

	body
		div#waiting

		div#identify ..
		div#flashs
		div#timers
		h1#title
		div#content

		script(type="text/javascript")
			var currentSlideID = null;
			$("#identify").hide();

		script(type="text/javascript")
			var apiClient = new APIClient();
			apiClient.on('updateSlide', function (slideid, slide) {
				$("#waiting").fadeOut(300);
			});
			apiClient.on('updateBeamer', function (beamerid, beamer) {
				$("#waiting").fadeOut(300);
			});
			TimerClient(apiClient);

		- if (typeof beamerid != 'undefined')
			script(type="text/javascript")
				apiClient.connect(function () {
					this.registerIdentifyBeamer();
					this.registerBeamer('#{beamerid}');
				});
		- else if (typeof slideid != 'undefined')
			script(type="text/javascript")
				apiClient.connect(function () {
					this.registerSlide('#{slideid}');
				});

