!!!
html
	head
		title Veranstaltungsleiter
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascript/jquery-1.7.2.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/apiClient/index.js')
		script(src='/apiClient/beamer.js')
		script(src='/apiClient/agenda.js')
		script(src='/apiClient/timers.js')
		script(src='/javascript/timerClient.js')
		script(src='/javascript/viewer/beamer.js')

	body
		div#error
			.message
			.notes
		div#waiting
		div#identify

		div#header
		div#beamer-controls
			div#beamer-reset(title="Ansicht zurücksetzen")
			div#beamer-zoom-in(title="Schrift vergrößern")
			div#beamer-zoom-out(title="Schrift verkleinern")
			div#beamer-scroll-up(title="Hinaufscrollen")
			div#beamer-scroll-down(title="Hinabscrollen")
		div#currentTime
		div#flashs
		div#timers
		div#content
			h1#title
			div.content-text
			div.content-html
			ol.content-agenda

		script(type="text/javascript")
			var currentSlideID = null;
			$("#identify").hide();

		script(type="text/javascript")
			var apiClient = new APIClient();
			TimerClient(apiClient);

		- if (typeof beamerid != 'undefined')
			script(type="text/javascript")
				apiClient.connect(function () {
					this.registerIdentifyBeamer();
					this.registerBeamer('#{beamerid}');
				});
				$("#beamer-controls").hide();
		- else if (typeof slideid != 'undefined')
			script(type="text/javascript")
				apiClient.connect(function () {
					setCurrentSlide('#{slideid}');
				});
				$("#beamer-controls").show();
