!!!
html
	head
		title Timeransicht
		link(rel='stylesheet', href='/min/showTimer.css')
		script(src='/min/showTimer.js')
		script(src='/socket.io/socket.io.js')

	body
		div#error
			.message
			.notes
		div#waiting
		div#identify

		div#flashs

		div#timers
		div#currentTime
			.label Uhrzeit
			.timer

		script(type="text/javascript")
			var apiClient = new APIClient();
			$(function () {
				TimerClient(apiClient);
			});
