.select-beamer, #timers .color, #beamers .color
	{border:1px solid #777777; margin:1px; width:13px; height:13px;}

.select-beamer
	{opacity:0.5;}
.select-beamer.active
	{opacity:1;}

.isundone.icon-ok-circle
	{opacity:0.5;}

ol#slides, #slides ol
	{list-style:none; margin-left:15px;}
ol#slides>li>ol>li>.slide>.move
	{width:55px;}
ol#slides>li>ol>li>ol>li>.slide>.move
	{width:40px;}
ol#slides>li>ol>li>ol>li>ol>li>.slide>.move
	{width:25px;}
ol#slides>li>ol>li>ol>li>ol>li>ol>li>.slide>.move
	{width:10px;}
ol#slides .slide
	{display:block;}
ol#slides .slide .move
	{display:block; float:left; width:70px;}
ol#slides .slide .title
	{display:block; float:left; width:350px;}
ol#slides .slide .select-beamers
	{display:block; float:left;}
ol#slides .slide .options
	{display:block; float:left;}
ol#slides .slide .fixFloat
	{display:block; clear:left;}
