#error
	{position:fixed; top:0px; left:0px; height:100%; width:100%; background:-webkit-gradient(linear, left top, left bottom, from(#999), to(#333)); color:white; display:none; z-index:100;}
#error .message
	{text-shadow:#fff 0px 1px 0, #000 0 -1px 0; top:40%; position:absolute; font-size:2em; text-align:center; left:0px; right:0px;}
#error .notes
	{top:70%; position:absolute; text-align:center; left:0px; right:0px; font-size:1.3em;}
#waiting
	{position:fixed; top:0px; left:0px; height:100%; width:100%; background-color:lightgray; opacity:0.6; background-position:center; background-image:url(/images/waiting.gif); background-repeat:no-repeat; z-index:90;}
#identify
	{position:fixed; left:15%; right:15%; top:35%; margin-top:-1px; opacity:0.7; border-radius:30px; padding:50px; color:white; font-size:3em; text-align:center; z-index:100;}

body
	{font-family:sans-serif; background: white;}
#header
	{position:fixed; top:0px; left:0px; height:140px; width:100%; opacity:0.9; background-image:url(/images/header.png); background-repeat:no-repeat;}
#options, #projector-controls
	{position:fixed; top:0px; height:18px; background-color:#cccccc; border-bottom-left-radius:5px; border-bottom-right-radius:5px; padding:2px; opacity:0.8;}
#options
	{right:120px;}
#projector-controls
	{right:20px;}

#flashs	{
    position:fixed; top:190px; left:0px; width:100%; z-index:80;
}
#flashs>div
	{padding: 2em; font-weight:bold; font-size: 200% }
#currentTime
	{position:fixed; top:25px; right:30px; width:120px; height:35px; padding:10px 10px 10px 30px; border-radius:10px; background-color:#ff8800; color:#ffffff;}
#timers
	{position:fixed; top:25px; right:180px; height:35px;}
#timers>div
	{float:right; height:100%; width:120px; padding:10px 10px 10px 30px; margin-left:-10px; border-top-left-radius:10px; border-bottom-left-radius:10px; color:white;}

@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@-moz-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@-o-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

#timers>div.timer-expired {
  -webkit-animation-name: blinker;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: .5s;

  -moz-animation-name: blinker;
  -moz-animation-direction: alternate;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-duration: .5s;

  -o-animation-name: blinker;
  -o-animation-direction: alternate;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: ease-in-out;
  -o-animation-duration: .5s;
}

#connection-lost {
  -webkit-animation-name: blinker;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: .2s;

  -moz-animation-name: blinker;
  -moz-animation-direction: alternate;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-duration: .2s;

  -o-animation-name: blinker;
  -o-animation-direction: alternate;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: ease-in-out;
  -o-animation-duration: .2s;
}

#connection-lost { position: absolute; top: 5px; right: 5px; height: 40px; width: 120px; background-color: red; opacity: 0.8; z-index: 2; padding: 3px; display: inline-block; font: 9px monospace; text-align: right }


.content-text
	{white-space:pre-line;}

.content-agenda
	{margin-left:50px;}
.content-agenda .done
	{color:#777777;}

.content-motion.motion-status *
	{text-align:right;}
.content-motion .motion-submitter
	{text-align:right;}
.content-motion.motion-text
	{border:0.1em dotted darkgray; padding:0.2em;}
.content-motion.motion-argumentation
	{margin-top:0.3em;}
.ballot-maxvotes
	{text-align:right;}
.ballot-status *
	{text-align:right;}

.flash-danger
	{background-color:#b94a48; color:white;}
.flash-information
	{background-color:#3a87ad;}
.flash-success
	{background-color:#468847;}

#projector-controls>*, #options-button
	{width:14px; height:14px; background-image:url(/libs/bootstrap/img/glyphicons-halflings.png); background-repeat:no-repeat; display:block; float:left;}
.icon-repeat
	{background-position:-216px -24px;}
.icon-zoom-in
	{background-position:-336px 0px;}
.icon-zoom-out
	{background-position:-360px 0px;}
.icon-chevron-up
	{background-position:-288px -120px;}
.icon-chevron-down
	{background-position:-313px -119px;}
#options-button
	{background-position:-432px 0px;}

.line-numbers .number
	{display:block; color: teal; font: 90% monospace; width:1.5em; text-align:right; margin-right:0.5em; float:left;}
.line-numbers .line
	{display:block; margin-left:1.5em;}

@media screen {
	body
		{font-size:1.75em; overflow:hidden; margin:130px 20px 20px 20px;}
	.sidebar
		{position:absolute; top:200px; right:1em; width:10em; border-radius:0.5em; background-color:#ccc;}
	.sidebar>*
		{padding:0.2em; margin-bottom:0.3em;}
	.sidebar .sidebar-header
		{background-color:#000080; color:#fff; text-align:center; border-top-left-radius:0.5em; border-top-right-radius:0.5em; padding:0.3em;}
	.content-motion.motion-text, .content-motion.motion-argumentation
		{margin-right:11em;}
}

@media print {
	#header, #waiting, #error, #identify, #options, #projector-controls, #flashs, #currentTime, #timers
		{display:none;}
	.sidebar
		{height:2.5em; margin-bottom:0.5em; border: 0.1em dotted black; border-left: none;}
	.sidebar>*
		{float:left; padding-left:1em; margin-left:1em; border-left: 0.1em dotted black;}
	.sidebar-header
		{width:4em; font-size:2em; margin-left:0px; padding-left:1em; border-left: 0.1em dotted black;}
}
