#error
	{position:fixed; top:0px; left:0px; height:100%; width:100%; background:-webkit-gradient(linear, left top, left bottom, from(#999), to(#333)); color:white; display:none; z-index:100;}
#error .message
	{text-shadow:#fff 0px 1px 0, #000 0 -1px 0; top:40%; position:absolute; font-size:2em; text-align:center; left:0px; right:0px;}
#error .notes
	{top:70%; position:absolute; text-align:center; left:0px; right:0px; font-size:1.3em;}
#waiting
	{position:fixed; top:0px; left:0px; height:100%; width:100%; background-color:lightgray; opacity:0.6; background-position:center; background-image:url(/images/waiting.gif); background-repeat:no-repeat; z-index:90;}
#identify
	{position:fixed; left:15%; right:15%; top:35%; margin-top:-1px; opacity:0.7; border-radius:30px; padding:50px; color:white; font-size:3em; text-align:center; z-index:100;}

body
	{font-family:sans-serif; background: black; overflow:hidden;}

#flashs	{
	position:fixed; bottom:50px; left:0px; width:100%; z-index:80;
}
#flashs>div
	{padding: 2em; font-weight:bold; font-size: 200% }
#timers>div, #currentTime
	{float:left; height:100%; padding:15px 30px; border-radius:20px; margin:30px; color:#ffffff;}
#timers>div .label, #currentTime .label
	{font-size:2em;}
#timers>div .timer, #currentTime .timer
	{font-size:8em;}
#currentTime
	{background-color:#ff8800; color:#ffffff;}

@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@-moz-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@-o-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

#timers>div.timer-expired, #connection-lost {
  -webkit-animation-name: blinker;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: .5s;

  -moz-animation-name: blinker;
  -moz-animation-direction: alternate;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-duration: .5s;

  -o-animation-name: blinker;
  -o-animation-direction: alternate;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: ease-in-out;
  -o-animation-duration: .5s;
}

#connection-lost { position: absolute; top: 5px; right: 5px; height: 40px; width: 40px; background-color: red; opacity: 0.8; z-index: 2; padding: 3px; display: inline-block; font: 20px monospace; text-align: right }

.flash-danger
	{background-color:#b94a48; color:white;}
.flash-information
	{background-color:#3a87ad;}
.flash-success
	{background-color:#468847;}
