html {
	background: lightgray;
	font-size:2em;
}

body {
	margin: 25px;
	padding: 25px;
	border-radius: 15px;
	background: white;
}

th { padding: 5px; border: 1px solid silver }

th {
   text-align: left
}

.flash-danger
	{background-color:#f2dede; color:#b94a48;}
.flash-information
	{background-color:#d9edf7; color:#3a87ad;}
.flash-success
	{background-color:#dff0d8; color:#468847;}

#identify
	{position: fixed; bottom:0px; right:0px; width:50%; height:30%; opacity:0.7;}

#flashs
	{position: fixed; top:0px; left:0px; width:100%;}
