body
	{margin:0px; padding:0px; background-color:#333333;}

form
	{position:absolute; left:30%; right:30%; top:40%; background-color:#ffffff; border-radius:1em; padding: 1em;}

input
	{width:100%; font-size:4em;}
